.btn {
    text-decoration: none;

    &--white, 
    &--white:visited, 
    &--white:link {
        padding: 1.6rem 7rem;
        background-color: $color-white;
        border-radius: 100px;
        box-shadow: .1rem .2rem 1rem #ddd;
        font-size: inherit;
        font-size: 1.6rem;
        font-weight: 700;
        color: $color-black;

        @media only screen and (max-width: $bp-phone) {
            padding: 1.2rem 4.7rem;
        }
    }

    &--pink, 
    &--pink:visited, 
    &--pink:link {
        display: inline-block;
        font-weight: bold;
        color: $color-white;
        padding: 1.6rem 5rem;
        border-radius: 100px;
        box-shadow: .1rem .2rem 1rem #ddd;
        font-size: 1.6rem;
        background-color: #ff52bf;
        
        @media only screen and (max-width: $bp-phone) {
            padding: 1.6rem 12rem;
            font-size: 2rem;
        }

        &-large {
            padding: 2rem 9rem;
            font-size: 1.8rem;
        }
        
    }
}