* {
    margin: 0;
    padding: 0;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-family: $font-body;
    font-size: 1.6rem;
    max-width: 144rem;
    margin: 0 auto;
}

