* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 31.25%; } }

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  max-width: 144rem;
  margin: 0 auto; }

.btn {
  text-decoration: none; }
  .btn--white, .btn--white:visited, .btn--white:link {
    padding: 1.6rem 7rem;
    background-color: #FFF;
    border-radius: 100px;
    box-shadow: .1rem .2rem 1rem #ddd;
    font-size: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000; }
    @media only screen and (max-width: 37.5em) {
      .btn--white, .btn--white:visited, .btn--white:link {
        padding: 1.2rem 4.7rem; } }
  .btn--pink, .btn--pink:visited, .btn--pink:link {
    display: inline-block;
    font-weight: bold;
    color: #FFF;
    padding: 1.6rem 5rem;
    border-radius: 100px;
    box-shadow: .1rem .2rem 1rem #ddd;
    font-size: 1.6rem;
    background-color: #ff52bf; }
    @media only screen and (max-width: 37.5em) {
      .btn--pink, .btn--pink:visited, .btn--pink:link {
        padding: 1.6rem 12rem;
        font-size: 2rem; } }
    .btn--pink-large, .btn--pink:visited-large, .btn--pink:link-large {
      padding: 2rem 9rem;
      font-size: 1.8rem; }

.header {
  background-color: #EBFBFF;
  background-image: url("../assets/images/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 16rem; }
  .header__try-it-free {
    padding-top: 5rem;
    padding-bottom: 7rem;
    padding-right: 8rem;
    padding-left: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .header__try-it-free {
        padding-top: 5rem;
        padding-bottom: 7rem;
        padding-right: 4rem;
        padding-left: 4rem; } }
  .header__try-it-free-logo {
    width: 38%; }
  .header__build-the-community {
    padding-top: 5rem;
    padding-bottom: 7rem;
    padding-right: 8rem;
    padding-left: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .header__build-the-community {
        flex-direction: column;
        align-items: center; } }
    @media only screen and (max-width: 37.5em) {
      .header__build-the-community {
        padding-top: 5rem;
        padding-bottom: 7rem;
        padding-right: 4rem;
        padding-left: 4rem; } }
  .header__build-the-community-text {
    flex: 50%;
    margin-right: 6rem; }
    @media only screen and (max-width: 75em) {
      .header__build-the-community-text {
        margin-right: 0;
        margin-bottom: 8rem;
        text-align: center; } }
  .header__build-the-community-title {
    font-size: 3.7rem;
    font-weight: 700;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .header__build-the-community-title {
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__build-the-community-title {
        font-size: 5rem; } }
  .header__build-the-community-paragraph {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .header__build-the-community-paragraph {
        margin-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__build-the-community-paragraph {
        font-size: 3.3rem; } }
  .header__build-the-community-image {
    flex: 50%; }
  .header__build-the-community-illustration {
    width: 100%;
    height: auto; }

.main {
  position: relative; }

.benefits {
  padding-right: 10rem;
  padding-left: 10rem;
  padding-bottom: 32rem; }
  @media only screen and (max-width: 56.25em) {
    .benefits {
      padding-right: 3rem;
      padding-left: 3rem; } }
  .benefits__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: .1rem .2rem 1rem #ddd;
    border-radius: 15px;
    padding: 6rem 4rem 6rem 12rem; }
    .benefits__block:not(:last-child) {
      margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .benefits__block {
        flex-direction: column;
        align-items: center;
        padding: 6rem 6rem 6rem 6rem; }
        .benefits__block:not(:last-child) {
          margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .benefits__block-text {
      text-align: center;
      order: 1; } }
  .benefits__block-text:nth-child(odd) {
    margin-right: 18rem; }
    @media only screen and (max-width: 75em) {
      .benefits__block-text:nth-child(odd) {
        margin-right: 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .benefits__block-text:nth-child(odd) {
        margin: 0; } }
  .benefits__block-text:nth-child(even) {
    margin-left: 18rem; }
    @media only screen and (max-width: 75em) {
      .benefits__block-text:nth-child(even) {
        margin-left: 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .benefits__block-text:nth-child(even) {
        margin: 0; } }
  .benefits__block-title {
    font-size: 3rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .benefits__block-title {
        font-size: 4.5rem; } }
  .benefits__block-paragraph {
    font-size: 1.7rem;
    color: #808D99; }
    @media only screen and (max-width: 56.25em) {
      .benefits__block-paragraph {
        font-size: 2.9rem; } }
  @media only screen and (max-width: 56.25em) {
    .benefits__block-image {
      margin-bottom: 6rem; } }
  .benefits__block-illustration {
    width: 100%; }

.ready-to-build-box {
  box-shadow: .1rem .2rem 1rem #ddd;
  border-radius: 15px;
  width: 55%;
  height: 26rem;
  text-align: center;
  background-color: #FFF;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .ready-to-build-box {
      width: 90%; } }
  .ready-to-build-box__title {
    font-size: 3rem;
    margin-bottom: 4rem; }

.footer {
  background-color: #00252E;
  color: #FFF;
  padding: 19rem 8rem 7rem 12rem;
  display: flex;
  align-items: baseline;
  position: relative;
  z-index: -1; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      flex-direction: column;
      padding: 19rem 3rem 7rem 3rem; } }
  .footer__contact {
    flex: 40%;
    margin-right: 10%; }
    @media only screen and (max-width: 56.25em) {
      .footer__contact {
        font-size: 2.9rem;
        margin: 0;
        margin-bottom: 4rem; } }
  .footer__contact-image {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__contact-image {
        width: 47%; } }
  .footer__contact-list {
    list-style: none; }
  .footer__contact-item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 3.7rem; }
  .footer__contact-icon {
    margin-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__contact-icon {
        margin-right: 4rem; } }
  .footer__navigation {
    flex: 30%;
    margin-right: 10%; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        font-size: 2.9rem;
        margin: 0;
        margin-bottom: 4rem; } }
  .footer__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav-list {
        flex-direction: column; } }
  .footer__nav-item {
    margin-bottom: 2rem; }
  .footer__nav-link {
    text-decoration: none;
    color: inherit; }
  .footer__nav-social-media {
    flex: 30%;
    font-size: 1.7rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav-social-media {
        font-size: 2.6rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__nav-social-media {
        align-self: center;
        margin-bottom: 6rem; } }
  .footer__nav-social-media-list {
    list-style: none; }
  .footer__nav-social-media-item {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #FFF;
    border-radius: 50%;
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .footer__nav-social-media-item {
        width: 4.9rem;
        height: 4.9rem;
        border: 1px solid #FFF; } }
    .footer__nav-social-media-item i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .footer__nav-social-media-item:not(:last-child) {
      margin-right: 1rem; }
  .footer__nav-social-media-link {
    color: inherit; }

.legal {
  color: #FFF;
  position: absolute;
  right: 8rem;
  bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      position: unset;
      font-size: 2.2rem;
      align-self: center; } }

.attribution {
  font-size: 11px;
  text-align: center;
  transform: translateX(-50%);
  position: absolute;
  bottom: 1.1rem;
  left: 50%; }
  .attribution a {
    color: #FF52BF; }
